[Unit]
Description=Packsi API
After=network.target

[Service]
WorkingDirectory=/var/www/packsi
ExecStart=/usr/bin/dotnet /var/www/packsi/PresentationApp.dll --urls=http://localhost:5005
Restart=always
Environment=ASPNETCORE_ENVIRONMENT=Development
User=www-data

[Install]
WantedBy=multi-user.target
